<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block head_title %}Blog{% endblock %}</title>
    <link href="{% static 'blog/bootstrap/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'blog/css/my-style.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/f825ae5235.js" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="{% static 'blog/billboard/billboard.js' %}"></script>
    <link rel="stylesheet" href="{% static 'blog/billboard/billboard.css' %}">
</head>
<body>

{% include 'blog/navbar.html' %}

<div id="chart"></div>

{% include 'blog/footer.html' %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script>
    var chart = bb.generate({
      data: {
        x: "x",
        columns: [
        ["x", "2013-01-01", "2013-01-02", "2013-01-03", "2013-01-04", "2013-01-05", "2013-01-06"],
        ["humidity", 30, 200, 100, 400, 150, 250],
        ["temperature", 130, 340, 200, 500, 250, 350]
        ],
        type: "line", // for ESM specify as: line()
      },
      axis: {
        x: {
          type: "timeseries",
          tick: {
            format: "%Y/%m/%d"
          }
        }
      },
      bindto: "#chart"
    });
</script>
</body>
</html>