<!-- base.html을 역호출하여 base.html을 먼저 불러온 뒤
    extends 키워드 아래 줄에 작성한 block들이
    base.html에 명시된 block 영역을 바꿔치기한다.
-->
{% extends 'blog/base_full_width.html' %}

<!-- base.html의 head_title 블럭을 찾아서 'Create Post - Blog'로 변경
-->
{% block head_title %}Edit Post - Blog{% endblock %}

<!-- base.html의 main_area 블럭을 찾아 아래 html 태그들로 변경 -->
{% block main_area %}
    <h1>Edit Post</h1>
    <hr/>
    <!--
    1. form 태그의 속성들
    method: 서버로 form 양식에 작성한 내용을 전달하는 방법 (GET / POST)
    enctype: 서버로 전송되는 데이터가 인코딩되는 방법을 명시
    예) application/x-www-form-urlencoded: 기본값, 모든 문자 인코딩
    multipart/form-data: 모든 문자를 인코딩 하지 않음, 파일 전송 시 사용
    text/plain: 공백문자는 '+' 기호로 변환하고, 나머지 문자는 모두 인코딩하지 않음
    action (장고에서는 생략): 데이터의 종착지 주소를 작성 (보통은 서버의 특정 주소)
    -->
    <form method="post" enctype="multipart/form-data">
        <!--
        2. CSRF (Cross-Site Request Forgery): 사이트 간 요청 위조
        웹사이트 취약점 공격의 하나로, 사용자가 자신의 의지와는 무관하게
        공격자가 의도한 행위를 특정 웹사이트에 요청하게 하는 공격을 말한다. <위키백과>
        -->
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <button type="submit" class="btn btn-primary float-right">
            Submit
        </button>
    </form>
{% endblock %}