{% extends 'blog/base.html' %}

{% block main_area %}

{% if user.is_authenticated %} <!-- 로그인한 사용자이고 -->
    <!-- 최고관리자 혹은 스테프인 사용자일 경우에만 포스트 작성 버튼이 화면에 표시된다. -->
    {% if user.is_superuser or user.is_staff %}
        <a class="btn btn-info btn-sm float-right"
           href="/blog/create_post/"
           role="button">
            <i class="fas fa-pen"></i>
            &nbsp;&nbsp;New Post
        </a>
    {% endif %}
{% endif %}

<h1>Blog
    <!-- 만약 views.py로부터 전달받은 category 변수가 존재한다면 (카테고리 페이지 접근 시) -->
    {% if category %}
    <!-- 카테고리 뱃지를 카테고리 페이지 제목 옆에 표시한다. -->
    <span class="badge badge-secondary">{{ category }}</span>
    {% endif %}

    {% if tag %}
    <!-- 태그 뱃지를 태그 페이지 제목 옆에 표시한다. -->
    <span class="badge badge-light">
        <i class="fas fa-tags"></i>{{ tag }} ({{ tag.post_set.count }})
    </span>
    {% endif %}
</h1>
{% if post_list.exists %}
{% for p in post_list %}
<!-- Blog post -->
<div class="card" id="post-{{ p.pk }}">
    <!-- 블로그 포스트 카드의 그림영역 -->
    <a href="#!">
        {% if p.head_image %}
        <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image">
        {% else %}
        <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image">
        {% endif %}
    </a>
    <!-- 블로그 글의 요약 부분 -->
    <div class="card-body">
        {% if p.category %}
        <span class="badge badge-secondary float-right">{{ p.category }}</span>
        {% else %}
        <span class="badge badge-secondary float-right">미분류</span>
        {% endif %}
        <div class="small text-muted">{{ p.created_at }}
            <a href="#">{{ p.author | upper }}</a>
        </div>
        <h2 class="card-title h4">{{ p.title }}</h2>
        <!--<p class="card-text">{{ p.content | truncatewords:45 }}</p>-->
        <h5 class="text-muted">{{ p.get_content_markdown | truncatewords_html:45 | safe }}</h5>

        <!-- Tags -->
        {% if p.tags.exists %} <!-- [필드명].exists는 값 존재 유무 확인용 -->
        <i class="fas fa-tags"></i> <!-- fontawesome을 활용해 tag 아이콘 사용 -->

        <!-- all 대신 iterator 사용 이유 -->
        <!-- 결과를 재사용하지 않고, 메모리 문제를 일으킬만한 많은 양의 데이터를 사용할
             경우는 all() 대신 iterator()를 사용해야 한다. -->
        {% for tag in p.tags.iterator %}
        <!-- 태그 하이퍼링크 생성. 클릭하면 태그 페이지로 이동한다 -->
        <a href="{{ tag.get_absolute_url }}">
            <span class="badge badge-pill badge-light">{{ tag }}</span>
        </a>
        {% endfor %}
        <br/> <!-- 줄바꿈 -->
        <br/> <!-- 줄바꿈 -->
        {% endif %}

        <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more</a>
    </div>
</div>
{% endfor %}
{% else %}
<h3>아직 게시물이 없습니다.</h3>
{% endif %}

<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a> <!-- Escape 문자 -->
    </li>
    <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
    </li>
</ul>
{% endblock %}